body {
    @apply h-screen flex flex-col;
}

header {
    @apply h-64 p-24 bg-gray-500 text-center;
}

main {
    @apply max-w-6xl mx-auto py-5;
}

footer {
    @apply mt-auto text-center bg-gray-500 p-4;
}